<div class="container">
  <div class="row align-items-center justify-content-center" style="height:800px;">
    <h2 class="px-3 mx-auto"><strong><i class="fas fa-skull-crossbones"></i>Genre</strong>
    <strong>Horror<i class="fas fa-skull-crossbones"></i></strong>の楽しみ方</h2>
    
    <h5 class="px-3 mx-auto bg-dark text-white">
      ホラー映画のみに特化した映画レビューサイトです。</br>
      レビューを投稿する際に、ホラーをさらにジャンル分けをすることができます。</br>
      また、映画の面白さと怖さの5段階評価をすることができます。</br>
    </h5>
    
    <h5 class="px-3 mx-auto bg-dark text-white">
      ジャンルについては管理者が独断と偏見で分けています。</br>
      ユーザーの皆様も、投稿した作品がどのジャンルに含まれるかをご自身の独断で</br>
      決定していただければ結構です。</br>
    </h5>
    
    <h5 class="px-3 mx-auto bg-dark text-white">
      ユーザーの皆さまが自由にレビューを書き、いい作品と出会える</br>
      世界観を尊重しております。</br>
      コメントをする際は、相手の誹謗中傷やレビュー投稿の妨げになるような内容を</br>
      含むことがないようご配慮をお願いいたします。</br>
      <i class="fas fa-exclamation-circle"></i>内容によっては管理者の判断で、Genre Horrorの利用を</br>
      停止させていただく場合がございます。</p>
    </h5>
    
    <h5 class="pt-10">
      現在のGenre Horrorのユーザー登録者数：<%= @users.count %>
    </h5>
  </div>
</div>

